.containers {
  text-align: center;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  margin: 2rem auto;
  background-color: white;
  box-shadow: 0px 2px 6px 0px black;
}
h1 {
  font-size: 3rem;
  color: rgb(50, 9, 9);
  font-family: sans-serif;
  margin-bottom: 2.5rem;
}

input {
  text-align: start;
  padding: 16px 6px;
  border-radius: 10px;
  width: 300px;
  font-size: 18px;
  color: black;
  border: none;
  box-shadow: 0px 0px 2px 1px black;
}

button {
  text-align: end;
  margin-left: 1rem;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  background-color: rgb(13, 139, 13);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(14, 104, 14);
}

li {
  list-style: none;
  font-size: 24px;
}
